<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">Calculadora de Precios Sugeridos en Python con Flask y MongoDB</h1>
    </div>

    <div class="container" id="contenedorProducto">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1">
            <div class="col-md-6 mb-3">
                <div class="card" id="productoBuscado">
                    <div class="card-header">
                        <h5 class="text-center">Alta producto</h5>
                    </div>
                    <div class="card-body">
                        <form action="#" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="it">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>